# ---- App ----
BASE_URL=localhost
APP_ENV=production
APP_DEBUG=false
APP_LOG=false

# ---- Database ----
# Default demo does not use a database.
USE_DB=false
DB_HOST=localhost
DB_PORT=3306
DB_NAME=noclass
DB_USER=root
DB_PASS=

# ---- Cache ----
# Options: NONE, FILE, ENGINE
CACHE_DRIVER=NONE
FILEMAP_CACHE=true
FILEMAP_CACHE_AUTO_REBUILD=true

